
<div>

  <img src="https://images7.alphacoders.com/468/thumb-350-468539.jpg" width="1366px" height="350px">
</div>
 <footer  class="bg-dark" style="position: fixed;width:100%; bottom: 0px;">
  <div class="row container" >
    <div class="col-sm-7  " style="padding-left: 100px;" >
      <h4 style="color: orange;">Location</h4>
      <img src="https://www.google.com/maps/vt/data=HZ3n_DVWz9zJjBQOZhAFz1e4JI79cRxnxS_QAHvKAt0E6Vrys6n1HmScbf1xZnHRlB909ADkxZICQ6LaqGca2u3MF1zRATmSpjyyg2YcTm1jjOihFWyTRJ_h-3YORpVT_QK3g5pv0ogaus6m5x3_4-UtZplqCGLJLWPs3k2ZQ_MGvWDXLjHSesw_7nhvZXvwPe1TXdsKfCHLaHCJ2I9gBmrDzzh-baHZEWSfxB4sDl_1bMp_kgX9t7VYoQgX" width="400px" height="100px">

    </div>
    <div class="container text-white col-lg-5" style="padding-left: 100px;" >
      <h3 class="text-warning">Contact Us</h3>
      <p class="text-white" style="font-size: 13px;">12 Benjamin Adeniyi Avenue,<br>
        Ikeja,<br>
        Lagos-State. <br>
        TelePhone: +234567890987, +23456789876<br>
        Email: customercare@quinnoxairline.com</p>

    </div>
  </div>

</footer>
