<div class="container-fluid  mt-2 offset-2"  >
  <div class="container  " >
    <form  [formGroup]="bookTicket" (ngSubmit)="bookTicketForm(bookTicket)">
      <h2 style="color:green; font-size: medium;">{{message}}</h2>
      <h3 class="offset-2">Ticket Booking Form </h3>
      <div class="row container" >
        <div class="col-sm-3 col-md-6 col-lg-4"  >
          <div class="form-group">
            <label>
            <input type="text" name="source" class="col" placeholder=" " [(ngModel)]="src" formControlName="source" required>
            <span>Source</span>
            <div style="color: red;" *ngIf="bookTicket.get('source').touched && bookTicket.get('source').value<=2">Enter the Source</div>
            </label>
          </div>

          <div class="form-group">
            <label>
            <input type="text" name="takeOffTime" class="col" placeholder=" " [(ngModel)]="takeOff" formControlName="takeOffTime">
              <span>Take-Off-Time</span>
            <div style="color: red;" *ngIf="bookTicket.get('takeOffTime').touched && bookTicket.get('takeOffTime').value<=2">Enter the Take-Off-Time</div>
            </label>
          </div>
          <div class="form-group">
            <label>
            <input type="number" name="customerId" class="col" placeholder=" " formControlName="customerId">
            <span>Customer ID</span>
            <div style="color: red;" *ngIf="bookTicket.get('customerId').touched && bookTicket.get('customerId').value<=0">Enter the Customer ID</div>
            </label>
          </div>
          <div class="form-group">
            <label>
            <input name="dateOfBooking" type="text" placeholder=" " onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" class="col" formControlName="dateOfBooking">
            <span> Date Of Booking</span>
           <div style="color: red;" *ngIf="bookTicket.get('dateOfBooking').touched && bookTicket.get('dateOfBooking').value<=2">Enter the DOB</div>
            </label>
          </div>
          <div>
            <div>
              <button type="submit" class="btn btn-secondary" name="submit">Book</button>
              <button type="reset" class="btn btn-secondary ml-2" name="submit">Reset</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4  " >

          <div class="form-group">
            <label>
            <input type="text" name="destination" class="col" placeholder=" " [(ngModel)]="dest" formControlName="destination">
            <span>Destination</span>
            <div style="color: red;" *ngIf="bookTicket.get('destination').touched && bookTicket.get('destination').value<=10">Enter the Destination</div>
            </label>
          </div>
          <div class="form-group">
            <label>
            <input type="text" name="arivalTime" class="col" placeholder=" " [(ngModel)]="arival" formControlName="arivalTime">
            <span>Arival Time</span>
            <div style="color: red;" *ngIf="bookTicket.get('arivalTime').touched && bookTicket.get('arivalTime').value<=2">Enter the Arival Time</div>
          </label>
        </div>
        <div class="form-group">
          <label>
          <input type="number" name="flightId" class="col" placeholder=" " [(ngModel)]="fId" formControlName="flightId">
          <span>Flight ID</span>
          <div style="color: red;" *ngIf="bookTicket.get('flightId').touched && bookTicket.get('flightId').value<=1">Enter the Flight ID</div>
          </label>
        </div>

          </div>
      </div>
    </form>

  </div>
</div>


