
 <div class="col-md-8 offset-2 mt-5">
      <table class="table">
          <thead class = "thead-dark">
              <tr>
                  <th>FlightId</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Day</th>
                  <th>TakeOffTime</th>
                  <th>ArivalTime</th>
                  <th>Price</th>
                  <th *ngIf="UserDetails == 'adminType'">Update</th>
                   <th *ngIf="UserDetails == 'adminType'">Delete</th>
                   <th *ngIf="UserDetails == 'userType'">Book</th>
              </tr>
          </thead>
           <tbody>

              <tr *ngFor = "let flights of flight">

                  <td>{{flights.flightId}}</td>
                  <td>{{flights.source}}</td>
                  <td>{{flights.destination}}</td>
                  <td>{{flights.flightDay}}</td>
                  <td>{{flights.takeOffTime}}</td>
                  <td>{{flights.arivalTime}}</td>
                  <th>{{flights.priceOfFlight}}</th>

                  <td *ngIf="UserDetails == 'adminType'">
                      <button type="button" class="btn btn-info" (click)="updateFlight(flights)">Update</button>
              </td>
              <td *ngIf="UserDetails == 'adminType'">
                      <button type="button" class="btn btn-danger"  (click)="deleteFlight(flights.flightId)">Delete</button>
              </td>
              <td *ngIf="UserDetails == 'userType'">
                <button type="button" class="btn btn-success" (click)="bookTicket(flights)">Book</button>
        </td>
              </tr>
          </tbody>

      </table>
  </div>

