
        <form #form="ngForm" (ngSubmit)="checking(form)" class="offset-md-4 col-md-5  mt-5" >
          <div>
            <h3>Admin Login Page</h3>
          </div>
          <div class="form-group col-md-5 mt-4" style="margin-left: -1rem;">
            <label>
            <input type="text" name="email" class="col" placeholder=" " #email="ngModel" ngModel required>
            <span>Enter the Email</span>
            <div style="color: red;" *ngIf="email.touched && email.value.length<=4 && email.value!=null">email/userName should have minimum 4 characters</div>
          </label>
          </div>
          <div class="form-group col-md-5 mt-4" style="margin-left: -1rem;">
            <label>
            <input type="text" name="password" class="col" placeholder=" " #password="ngModel" ngModel required>
            <span>Enter the Password</span>
            <div style="color: red;" *ngIf="password.touched && password.value.length<=4 && password.value!=null">password should have atleast 4 characters</div>
          </label>
          </div>
          <div >
            <button type="submit" class="btn btn-secondary mb-3 " name="submit">Submit</button>
            <button type="reset" class="btn btn-secondary ml-2 mb-3 " name="submit">Reset</button>
          </div>
      </form>











